NET "clk"   LOC = E3	| IOSTANDARD = LVCMOS33;
NET "clk" TNM_NET = sys_clk_pin;

//NET "inb7"          LOC=J15 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_RS0_15
//NET "inb6"          LOC=L16 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_EMCCLK_14
//NET "inb5"          LOC=M13 | IOSTANDARD=LVCMOS33; #IO_L6N_T0_D08_VREF_14
//NET "inb4"          LOC=R15 | IOSTANDARD=LVCMOS33; #IO_L13N_T2_MRCC_14
//NET "inb3"          LOC=R17 | IOSTANDARD=LVCMOS33; #IO_L12N_T1_MRCC_14
//NET "inb2"          LOC=T18 | IOSTANDARD=LVCMOS33; #IO_L7N_T1_D10_14
//NET "inb1"          LOC=U18 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_A13_D29_14
//NET "inb0"          LOC=R13 | IOSTANDARD=LVCMOS33; #IO_L5N_T0_D07_14
//NET "ina7"          LOC=T8 | IOSTANDARD=LVCMOS18; #IO_L24N_T3_34
//NET "ina6"          LOC=U8 | IOSTANDARD=LVCMOS18; #IO_25_34
//NET "ina5"         LOC=R16 | IOSTANDARD=LVCMOS33; #IO_L15P_T2_DQS_RDWR_B_14
//NET "ina4"         LOC=T13 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_A03_D19_14
//NET "ina3"         LOC=H6 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_35
//NET "ina2"         LOC=U12 | IOSTANDARD=LVCMOS33; #IO_L20P_T3_A08_D24_14
//NET "ina1"         LOC=U11 | IOSTANDARD=LVCMOS33; #IO_L19N_T3_A09_D25_VREF_14
//NET "ina0"         LOC=V10 | IOSTANDARD=LVCMOS33; #IO_L21P_T3_DQS_14

NET "b[0]"          LOC=J15 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_RS0_15
NET "b[1]"          LOC=L16 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_EMCCLK_14
NET "b[2]"          LOC=M13 | IOSTANDARD=LVCMOS33; #IO_L6N_T0_D08_VREF_14
NET "b[3]"          LOC=R15 | IOSTANDARD=LVCMOS33; #IO_L13N_T2_MRCC_14
NET "b[4]"          LOC=R17 | IOSTANDARD=LVCMOS33; #IO_L12N_T1_MRCC_14
NET "b[5]"          LOC=T18 | IOSTANDARD=LVCMOS33; #IO_L7N_T1_D10_14
NET "b[6]"          LOC=U18 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_A13_D29_14
NET "b[7]"          LOC=R13 | IOSTANDARD=LVCMOS33; #IO_L5N_T0_D07_14
NET "a[0]"          LOC=T8 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_34
NET "a[1]"          LOC=U8 | IOSTANDARD=LVCMOS33; #IO_25_34
NET "a[2]"         LOC=R16 | IOSTANDARD=LVCMOS33; #IO_L15P_T2_DQS_RDWR_B_14
NET "a[3]"         LOC=T13 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_A03_D19_14
NET "a[4]"         LOC=H6 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_35
NET "a[5]"         LOC=U12 | IOSTANDARD=LVCMOS33; #IO_L20P_T3_A08_D24_14
NET "a[6]"         LOC=U11 | IOSTANDARD=LVCMOS33; #IO_L19N_T3_A09_D25_VREF_14
NET "a[7]"         LOC=V10 | IOSTANDARD=LVCMOS33; #IO_L21P_T3_DQS_14

NET "rst"           LOC=N17 | IOSTANDARD=LVCMOS33; #IO_L9P_T1_DQS_14
NET "ops"           LOC=P18 | IOSTANDARD=LVCMOS33; #IO_L9N_T1_DQS_D13_14
NET "opm"           LOC=P17 | IOSTANDARD=LVCMOS33; #IO_L12P_T1_MRCC_14
NET "opa"           LOC=M18 | IOSTANDARD=LVCMOS33; #IO_L4N_T0_D05_14

NET "sledctl[0]"             LOC=T10 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_A00_D16_14
NET "sledctl[1]"             LOC=R10 | IOSTANDARD=LVCMOS33; #IO_25_14
NET "sledctl[2]"             LOC=K16 | IOSTANDARD=LVCMOS33; #IO_25_15
NET "sledctl[3]"             LOC=K13 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_A26_15
NET "sledctl[4]"             LOC=P15 | IOSTANDARD=LVCMOS33; #IO_L13P_T2_MRCC_14
NET "sledctl[5]"             LOC=T11 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_A10_D26_14
NET "sledctl[6]"             LOC=L18 | IOSTANDARD=LVCMOS33; #IO_L4P_T0_D04_14

NET "spctl[0]"          LOC=J17 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_FOE_B_15
NET "spctl[1]"          LOC=J18 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_FWE_B_15
NET "spctl[2]"          LOC=T9 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_A01_D17_14
NET "spctl[3]"          LOC=J14 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_A22_15
NET "spctl[4]"          LOC=P14 | IOSTANDARD=LVCMOS33; #IO_L8N_T1_D12_14
NET "spctl[5]"          LOC=T14 | IOSTANDARD=LVCMOS33; #IO_L14P_T2_SRCC_14
NET "spctl[6]"          LOC=K2 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_35
NET "spctl[7]"          LOC=U13 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_A02_D18_14